<% if(locals.user) { %>
	<p class="users_photo"><%= user.name.slice(0,1) %></p>
	<span class="users_online"><%= user.name %></span>
	<a href="/member" class="users_sign"><span>个人中心</span></a>
<% } else { %>
	<img class="users_photo">
	<span class="users_online">No Account</span>
	<a href="/sign" class="users_sign"><span>用户登录</span></a>
	<a href="/register" class="users_log"><span>用户注册</span></a>
<% } %>