<div class="moviesAdvice_search">
	<input placeholder="搜索">
	<span>搜索</span>
</div>
<% if(locals.user) { %>
	<div class="moviesAdvice_user">
		<h1><%= locals.user.name %></h1>
		<textarea placeholder="留下点儿什么... ..."></textarea>
		<span>发送</span>
	</div>
<% }else{ %>
	<div class="moviesAdvice_user">
		<a href="/sign">您需要登陆才能评论,点击此处登陆</a>
	</div>
<% } %>
<div class="moviesAdvice_review">
	
</div>