@import 'compatibility';

$w: 1343px;
$h: 662px;

@function w($px){
    @return $px/$w*100%;
}

@function h($px){
    @return $px/$h*100%;
}

html body {
    background-color: #FAF0E6;
    height: 1550px;
    width: 100%;
}

nav {
    width: 100%;
    height: 50px;
    background-color: darkslateblue;
    position: fixed;
    z-index: 100;
    
    & .logo{
        text-decoration: none;
        position: absolute;
        left: 20px;
        line-height: 50px;
        color: white;
        cursor: pointer;
        box-align:center;
    }
    
    & .nav_ul{
        position: absolute;
        left: 100px;
        
        & li{
            line-height: 50px;
            height: 50px;
            width: 70px;
            text-align: center;
            margin-left: 10px;
            float: left;
            cursor: pointer;
            
            &:hover{
                background-color: deepskyblue;
                transition: all 0.2s ease-in-out;
            }
        }
        
        & a{
            text-decoration: none;
            color: linen;
        }
    }
    
    & div{
        position: absolute;
        left: 530px;
        margin-top: 7px;
    }
    
    & .search{
        position: absolute;
        top: 45px;
        width: 214px;
        border: 1px solid #ddd;
        background: white;
        
        & li{
            height: 30px;
            line-height: 30px;
            padding-left: 10px;
            font-size: 15 px;
            margin-top: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #eee;
            cursor: pointer;
            
            &:hover{
                transition: all 0.2s ease-in-out;
                color: white;
                background-color: deeppink;
            }
        }
    }
    
    & input{
        height: 30px;
        width: 200px;
        border-radius: 5px;
        padding-left: 10px;
    }
    
    & .button{
        position: absolute;
        left: 750px;
        text-align: center;
        height: 36px;
        line-height: 36px;
        width: 36px;
        margin-top: 7px;
        background-color: deepskyblue;
        padding: 0px 10px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
}

.users{
    position: fixed;
    top: h(50px);
    left: 0px;
    width: w(250px);
    height:h(610px);
    background-color: white;
    box-shadow: 1px 1px 1px 0px #eee;
    
    $w:250px;
    
    @function w($px){
        @return $px/$w*100%;
    }
    
    &_photo{
        position: absolute;
        top: 20px;
        left:w(99px);
        height: 50px;
        width: w(50px);
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        line-height:50px;
        border: 1px solid #666;
        border-radius: 50%;
    }
    
    &_online{
        font-size: 15px;
        color: #666;
        position: absolute;
        width: w(100px);
        text-align: center;
        top: 90px;
        left: w(75px);
    }
    
    &_sign,&_log{
        position: absolute;
        height: 30px;
        width: w(160px);
        left: w(45px);
        line-height: 30px;
        text-align: center;
        cursor: pointer;
    }
    
    &_sign{
        text-decoration: none;
        top: 130px;
        color: white;
        background-color: deepskyblue;
    }
    
    &_log{
        color: black;
        text-decoration: none;
        background-color: whitesmoke;
        top: 170px;
    }
    
    &_details{
        position: absolute;
        top: 220px;
        width: 100%;
        
        & li{
            height: 30px;
            line-height: 20px;
            text-align: center;
            padding-top: 10px;
            border-bottom: 1px solid #eee;
            cursor: pointer;
            
            &:nth-child(2){
                color: red;
            }
            
            &:hover{
                transition: all 0.2s ease-in-out;
                color: white;
                background-color: deepskyblue;
            }
        }
    }
}

.movieMsg{
    position: absolute;
    top: 80px;
    left:w(280px);
    width: w(700px);
    
    $w:700px;
    
    @function w($px){
        @return $px/$w*100%;
    }
    
    &_count{
        position: absolute;
        height: 50px;
        width: 300px;
        background-color: white;
        bottom: -50px;
        left: w(340px);
        display: flex;
        align-items: center;
        padding-left: 20px;
        
        & span{
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
            
            &:hover{
                transition: all 0.2s ease-in-out;
                color: white;
                background-color: deeppink;
            }
        }
        
        &_focus{
            color: white;
            background-color: deeppink;
        }
    }
    
    $w: 700px;

    @function w($px){
        @return $px/$w*100%;
    }   
    
    &_once{
        position: relative;
        background-color: white;
        float: left;
        margin-right: w(20px);
        margin-bottom: 20px;
        height: 350px;
        width: w(320px);
        border: 1px solid #666;
        
        & img{
            width: 100%;
            height: 150px;
        }
    }
    
    $w: 322px;

    @function w($px){
        @return $px/$w*100%;
    }
    
    &_title{
        position: absolute;
        top: 160px;
        left: w(20px);
        width: w(280px);
        color: black;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 30px;
        font-weight: bold;
        cursor: pointer;
        
        &:hover{
            transition: all 0.2s ease-in-out;
            color: deeppink;
        }
        
        &_name{
            background-color: deeppink;
            color: white;
        }
    }
    
    &_description{
        position: absolute;
        left: w(10px);
        width: w(270px);
        top: 230px;
        letter-spacing: 1.5px;
        text-indent: 20px;
        font-size: 15px;
        line-height: 20px;
        color: #666;
    }
    
    &_usersView{
        position: absolute;
        bottom: 20px;
        left: w(20px);
        height: 30px;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 30px;
        padding: 0px 10px;
        border-radius: 5px;
        background-color: #eee;
        
        & span:nth-child(1){
            color: deepskyblue;
            cursor: pointer;
        }
        
        & span:nth-child(2){
            color: #666;
        }
    }
}

.movieNew{
    position: absolute;
    top: 80px;
    right: 30px;
    height: 1550px;
    width: w(360px);
    background-color: white;
    
    $w: 360px;

    @function w($px){
        @return $px/$w*100%;
    }
    
    &_button{
        position: absolute;
        bottom: 10px;
        left: 10%;
        width: 80%;
        height: 40px;
        line-height: 40px;
        color: white;
        cursor: pointer;
        background-color: deepskyblue;
        text-align: center;
    }
    
    &_title{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 20px;
        width: 320px;
        padding-bottom: 10px;
        box-shadow: 0px 1px 0px red;
        
        &:hover{
            transition: all 0.2s ease-in-out;
            color: deepskyblue;
        }
    }
    
    &_box{
        position: absolute;
        width: 100%;
        top: 65px;
        left: w(20px);
    }
    
    &_chip{
        position: relative;
        height: 180px;
        width: 100%;
        
        & a:link{
            color: black;
        }
        
        & a:visited{
            color: black;
        }
        
        & h1{
            position: absolute;
            font-size: 20px;
            left: 0px;
            top: 0px;
            cursor: pointer;
            
            &:hover{
                transition: all 0.2s ease-in-out;
                color: deepskyblue;
            }
        }
        
        & p{
            position: absolute;
            top: 40px;
            width: w(200px);
            font-size: 15px;
            line-height: 20px;
            left: w(90px);
            text-indent: 20px;
            color: #666;
        }
        
        & img{
            position: absolute;
            top: 40px;
            height: 100px;
            width: w(80px);
        }
    }
}


