@import url(reset.css);
html body {
  background-color: #FAF0E6;
  height: 1550px;
  width: 100%;
  position: absolute;
}

nav {
  width: 100%;
  height: 50px;
  background-color: darkslateblue;
  position: fixed;
  z-index: 100;
}
nav .logo {
  text-decoration: none;
  position: absolute;
  left: 20px;
  line-height: 50px;
  color: white;
  cursor: pointer;
  box-align: center;
}
nav .nav_ul {
  position: absolute;
  left: 100px;
}
nav .nav_ul li {
  line-height: 50px;
  height: 50px;
  width: 70px;
  text-align: center;
  margin-left: 10px;
  float: left;
  cursor: pointer;
}
nav .nav_ul li:hover {
  background-color: deepskyblue;
  transition: all 0.2s ease-in-out;
}
nav .nav_ul a {
  text-decoration: none;
  color: linen;
}
nav div {
  position: absolute;
  left: 530px;
  margin-top: 7px;
}
nav .search {
  position: absolute;
  top: 45px;
  width: 214px;
  border: 1px solid #ddd;
  background: white;
}
nav .search li {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  font-size: 15 px;
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
nav .search li:hover {
  transition: all 0.2s ease-in-out;
  color: white;
  background-color: deeppink;
}
nav input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  padding-left: 10px;
}
nav .button {
  position: absolute;
  left: 750px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  width: 36px;
  margin-top: 7px;
  background-color: deepskyblue;
  padding: 0px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.users {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 18.61504%;
  height: 92.14502%;
  background-color: white;
  box-shadow: 1px 1px 1px 0px #eee;
}
.users_photo {
  position: absolute;
  top: 20px;
  left: 39.6%;
  height: 50px;
  width: 20%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  border: 1px solid #666;
  border-radius: 50%;
}
.users_online {
  font-size: 15px;
  color: #666;
  position: absolute;
  width: 40%;
  text-align: center;
  top: 90px;
  left: 30%;
}
.users_sign, .users_log {
  position: absolute;
  height: 30px;
  width: 64%;
  left: 18%;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.users_sign {
  text-decoration: none;
  top: 130px;
  color: white;
  background-color: deepskyblue;
}
.users_log {
  color: black;
  text-decoration: none;
  background-color: whitesmoke;
  top: 170px;
}
.users_details {
  position: absolute;
  top: 220px;
  width: 100%;
}
.users_details li {
  height: 30px;
  line-height: 20px;
  text-align: center;
  padding-top: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.users_details li:nth-child(2) {
  color: red;
}
.users_details li:hover {
  transition: all 0.2s ease-in-out;
  color: white;
  background-color: deepskyblue;
}

.movieMsg {
  position: absolute;
  top: 80px;
  left: 20.84885%;
  width: 78.18317%;
}
.movieMsg_count {
  position: absolute;
  height: 50px;
  width: 300px;
  background-color: white;
  bottom: -50px;
  left: 51.42857%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.movieMsg_count span {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
.movieMsg_count span:hover {
  transition: all 0.2s ease-in-out;
  color: white;
  background-color: deeppink;
}
.movieMsg_count_focus {
  color: white;
  background-color: deeppink;
}
.movieMsg_once {
  position: relative;
  background-color: white;
  float: left;
  margin-right: 1.90476%;
  margin-bottom: 20px;
  height: 350px;
  width: 30.47619%;
  border: 1px solid #666;
}
.movieMsg_once img {
  width: 100%;
  height: 150px;
}
.movieMsg_title {
  position: absolute;
  top: 160px;
  left: 6.21118%;
  width: 86.95652%;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;
}
.movieMsg_title:hover {
  transition: all 0.2s ease-in-out;
  color: deeppink;
}
.movieMsg_title_name {
  background-color: deeppink;
  color: white;
}
.movieMsg_description {
  position: absolute;
  left: 3.10559%;
  width: 83.85093%;
  top: 230px;
  letter-spacing: 1.5px;
  text-indent: 20px;
  font-size: 15px;
  line-height: 20px;
  color: #666;
}
.movieMsg_usersView {
  position: absolute;
  bottom: 20px;
  left: 6.21118%;
  height: 30px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: #eee;
}
.movieMsg_usersView span:nth-child(1) {
  color: deepskyblue;
  cursor: pointer;
}
.movieMsg_usersView span:nth-child(2) {
  color: #666;
}

/*# sourceMappingURL=moviesConsultation.css.map */
